{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="filter">
        Поиск по параметрам:
    </div>

    <div id="main" class="product-list">
        <h2 style="text-align: center">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h2>
        {% for product in products %}
            <div class="item">
                <div>
                    <a href="{{ product.get_absolute_url }}">
<!--                        <img class="item-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">-->
                        <img class="item-img" src="{{product.product_image.first.img.url}}">
                    </a>
                </div>
                <div class="item-text">
                    <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p><br>
                    {{ product.price }} руб.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}