{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Мой магазин{% endif %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="filter">
        <div class="filter_search">
            <p style="font-size: 25px">Поиск по параметрам:</p>
                <form method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" />
                </form>
        </div>
    </div>

    <div id="main" class="product-list">
        <h2 style="text-align: center">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h2>
        {% for product in page_obj %}
            <div class="item">
                <div>
                    <a href="{{ product.get_absolute_url }}">
<!--                        <img class="item-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">-->
                        <img class="item-img" src="{{product.product_image.first.img.url}}">
                    </a>
                </div>
                <div class="item-text">
                    <p><a href="{{ product.get_absolute_url }}">{{ product.name|upper }}</a></p>
                    <p>{{ product.price }} руб.</p>
                    <p>Бренд: {{product.brand}}</p>
                    <p>Осталось: {{ product.stock }} шт.</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
         {% if paginator.num_pages > 1 %}
            <ul class="step-links">
                {% if page_obj.has_previous %}
                    {% if 'brand' and 'name' and 'ordering' and 'price__gt' and 'price__lt' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page=1"> << </a></li>
                        <li><a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}"> < </a></li>
                    {% else %}
                        <li><a href="?page=1"> << </a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"> < </a></li>
                    {% endif %}
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if 'brand' and 'name' and 'ordering' and 'price__gt' and 'price__lt' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    {% if 'brand' and 'name' and 'ordering' and 'price__gt' and 'price__lt' in request.get_full_path %}
                        <li><a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}"> > </a></li>
                        <li><a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}"> >> </a></li>
                    {% else %}
                        <li><a href="?page={{ page_obj.next_page_number }}"> > </a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}"> >> </a></li>
                    {% endif %}
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
            </ul>
         {% endif %}
    </div>



</div>
{% endblock %}