{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Заказы
{% endblock %}
{% block content %}
<div class="my_orders">
<h1 style="padding-left: 100px">Заказы:</h1>
    <div class="my_order">
       {% for order in orders %}
        <div class="my_order_block">
            <p><a href="">Номер заказа: {{order.id}}</a></p>
            <p>Дата заказа: {{order.created}}</p>
            <p>Статус: {% if order.paid == False %} не оплачено {% else %} оплачено {% endif %}</p>
            <p>Стоимость: {{order.get_total_cost}} руб.</p>
        </div>
    {% endfor  %}
    </div>
</div>
{% endblock %}