{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h1 style="padding-left: 100px">Оформление:</h1>
<div class="order-create">
    <div class="order-info">
        <h3>Ваш заказ:</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} руб.</span>
                </li>
            {% endfor %}
        </ul>
        <p style="font-size: 18px; margin:20px"><strong>Общая сумма: {{ cart.get_total_price }} руб.</strong></p>
    </div>

    <div class="order-form">
        <p><strong>Покупатель: {{request.user.first_name}} {{request.user.last_name}}</strong></p>
        <p><strong>Телефон: {{ request.user.profile.phone }}</strong></p><br>
        <p>Введите свои данные:</p>
        <form class="form" action="" method="post">
            <table style="text-align: left">
            {{ form.as_table }}
            </table>
            <p><input class="button" style="padding-bottom: 35px; margin-left: 200px" type="submit" value="Подтвердить заказ"></p>
            {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}

