{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Мои заказы
{% endblock %}
{% block content %}
<div class="my_orders">
<h1>Мои заказы:</h1>
    <div>
       {% for order in orders %}
        <p><a href="/order_details_for_buyer/{{order.id}}/">Номер заказа: {{order.id}}</a></p>
        <p>Дата заказа: {{order.created}}</p>
        <p>Статус: {% if order.paid == False %} не оплачено {% else %} оплачено {% endif %}</p>
        <p>Стоимость: {{order.get_total_cost}} руб.</p>

    {% endfor  %}
    </div>
</div>
{% endblock %}