@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #e5f9e7;
    height: 100%;
}
.wrapper{
    /*position: relative;*/
    /*height: 100%;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer{
    height: 100px;
    width: 100%;
    /*border: 2px solid black;*/
    background: grey;
    bottom: 0;
    /*min-height: 100vh;*/
}

.content{
    flex: 1 1 auto;
}

.sidebar{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background: khaki;
    border: 1px solid black;
    margin: 5px;
}

.sidebar>ul{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style: none;


}

.categories{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.categories>ul{
    display: flex;
    justify-content: center;
    height: 50px;
    background: cadetblue;
    /*margin: 0 auto;*/
    padding-top: 10px;
    list-style: none;
    border: 2px solid black;
}

.subheader{
    position: relative;
    /*background: #fff9dc;*/
    height: 100px;
    display: flex;
    margin: auto;
    /*border: 2px solid black;*/
}

.container{
    background: #e5f9e7;
    /*border: 4px solid black;*/
    height: 1500px;
    margin: 5px;
}
.filter{
    width: 20%;
    height: 99%;
    float: left;
    border: 2px solid black;
    margin: 3px;
    background: silver;
}

.product-list{
    background: cadetblue;
    /*display: flex;*/
    margin: 4px;
    width: 78%;
    height: 99%;
    float: left;
    border: 2px solid black;
}


nav a{
    margin:10px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.item{
    float: left;
    height: 350px;
    background: gainsboro;
    border: 2px solid #2c2c2c;
    width: 24%;
    box-sizing: border-box;
    margin: 10px 2px 2px 10px;
}

.item-img{
    width: 250px;
    height: 250px;
    border: 1px solid #2c2c2c;
}

.item-text{
    border: 2px solid #2c2c2c;
}


.cart-table{
    border: 2px solid gray;
    width: 70%;
    padding: 10px;
}

.cart-table td{
    background: rgba(0,33,67,0.06);
}

.cart-img{
    width: 100px;
    border: 1px solid black;
}


.cart{
    position: relative;
    height: 50px;
    width: 50px;
    /*border: 1px dotted black;*/
    right: 22px;
    bottom: 2px;
}

.cart-total{
    width: 25px;
    height: 25px;
    background: red;
    /*border: 2px solid red;*/
    position: absolute;
    border-radius: 50%;
    top: 1px;
    right: 1px;
}

.img-cart{
    width: 50px;
}

.cart-total p{
    color: white;
    /*padding: 3px;*/
    position: absolute;
    /*padding: 3px;*/
    /*bottom: 1px;*/
    font-size: 13px;
    top: 4px;
    left: 5px;
    margin: auto;
}

.button{
    background: green;
    color: white;
    padding: 5px;
    border: 1px solid darkgreen;
    font-size: 14px;
    margin: 5px;
}

.product-detail{
    /*position: relative;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.products-img{
    margin: 8px;
}

.product-img{
    width: 300px;
    height: 300px;
    float: left;
    background: white;
    margin: 10px;
    flex-direction: unset;
    border: 1px solid black;
}

.product-text{
    /*position: absolute;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    padding: 10px;
    margin: 10px;
}

.prod_img{
    /*display: inline-block;*/
    /*width: 300px;*/
    /*height: 300px;*/
    max-width: 100%;
    max-height: 100%;
    /*border: 1px solid darkgreen;*/
    margin: auto;
    background: white;
}


.logo{
    /*float: left;*/
    /*background: darkgreen;*/
    width: 10%;
}

.logo-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 10px;
    /*border: 1px dotted black;*/
}

.contacts{
    /*background: lightgreen;*/
    width: 25%;
    /*border: 1px dotted black;*/
    text-align: center;
    padding: 20px;
}

.social{
    /*border: 1px dotted black;*/
    width: 23%;
    padding: 10px;
}

.social  img{
    width: 30px;
    height: 30px;
    padding: 5px;
}
